*{
    box-sizing: border-box;
    list-style: none;
}

:root{
    font-family: 'Roboto', sans-serif;

    /*cores*/
    --black: #000;
    --white: #F9F9F9;
    --grey: #919191;
    --grey-light: #DDDDDD;
    --green: #4dad5b;
    --yellow: #e6bc2f;
    --orange: #ee6b2f;
    --red: #E3350D;
}

body{
    background-color: var(--grey-light);
}

.content{
    padding: 1rem;
    margin: auto;
}

.content h1{
    text-align: center;
}

ol.pokemons{
    color: var(--white);
    padding: 0;
    margin: auto;
    
    
    /*------GRID------*/
    /*Estruturação do layout em CSS Grid*/
    display: grid;
    /*O layout será estruturado em 4 colunas de 1fr cada com espaçamento de 16px entre elas*/
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-column-gap: 1rem;
    /*O layout será estruturado em linhas com espaçamento de 25px entre elas*/
    grid-row-gap: 2rem;

    align-items: center;
    justify-items: center;    
}

ol.pokemons li.pokemon{
    background-color: var(--green);
    border-radius: 1rem;

    padding: 1rem;

    display: flex;
    flex-direction: column;
}

ol.pokemons li.pokemon .number{
    color: var(--black);
    opacity: 0.3; /*De 0 a 1*/
}

ol.pokemons li.pokemon .name{
    font-size: 1rem;
    font-weight: 500;
}

ol.pokemons li.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ol.pokemons li.pokemon .detail .type{
    background-color: #59CE8F;
    font-size: 0.8rem;
    font-weight: 400;

    padding: 0.2rem;
    width: 4rem;
    margin: 0.3rem 0;

    border-radius: 1rem;
}

ol.pokemons li.pokemon .detail .types{
    padding: 0;
    margin: 0;

    text-align: center;
}

ol.pokemons li.pokemon img{
    max-width: 55%;
    height: 90px;

    /*Posicionar a imagem no canto*/
    align-self: flex-end;
}
